.landing{
    max-width: 1240px;
    margin: 0 auto;
}
.landingcontent{
    display: flex;
   justify-content: space-between;
}
.landingheader{
    width: 100%;
}
.landingh1{
    font-size: 4rem;
    line-height: 1.2;
    width: 70%;
}
.landingpara{
    font-size: 1.4rem;
    font-weight: 500;
}
