@import "tailwindcss";

@theme{
    --color-primary: #2A8E9E;
    --color-secondary:#E9F3F4;
    --color-text: #1D1E20;
    --color-text-sc: #180D39;
}
@layer base{
    body{
        background-color: var(--color-secondary);
        color: var(--color-text);
    }
    h1,h2,h3,h4,h5,h6{
        color: var(--color-text-sc);
    }
    button{
        cursor: pointer;
    }
}
.bg-wave{
    background: url('/src/assets/layered-waves-haikei.svg');
}
.animate-slide-up{
    animation: slideInUp 0.5s ease-out forwards;
}
.animate-fade-in {
    animation: fadeIn 0.5s ease-in forwards;
  }
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}  
@keyframes slideInUp {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}